# Constantes fiscales Colombia — actualizar cada 1 de enero
# Año gravable 2026 (Resolución 238/2025, Decreto 572/2025)
VITE_SMMLV=1750905
VITE_UVT=52374
VITE_UMBRAL_DECLARANTE_UVT=1400
VITE_UMBRAL_RETENCION_11_UVT=3300
VITE_TOPE_IBC_SMMLV=25
